.button {
    padding: 0 0 0 0 !important;
}
.button:focus {
    outline: 0.1em rgb(167, 170, 255) solid !important;
}
.button:active {
    border-color: white !important;
}
.icon {
    height: 2.5em;
}
.icon:hover {
    color: rgb(70, 70, 70);
}
.icon:active {
    color: rgb(115, 115, 115) ;
}